.pothe__pothe__navbar__container {
  padding: 20px 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pothe__pothe__navbar__logo__container img {
  width: 150px;
}
.pothe__pothe__navbar__menu__container {
  display: flex;
  list-style: none;
  gap: 20px;
  color: tomato;
  font-size: 18px;
}
.pothe__pothe__navbar__menu__container li {
  cursor: pointer;
}
.pothe__pothe__navbar__menu__container .active {
  padding-bottom: 2px;
  border-bottom: 2px solid tomato;
}
.pothe__pothe__navbar__right {
  display: flex;
  align-items: center;
  gap: 40px;
}
.pothe__pothe__navbar__sign__in__btn {
  background: transparent;
  font-size: 16px;
  color: #000;
  border: 1px solid tomato;
  padding: 7px 30px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 600;
  letter-spacing: 1px;
}

.pothe__pothe__navbar__sign__in__btn:hover {
  background-color: tomato;
  color: #fff;
}
.pothe__pothe__navbar__basket__icon {
  position: relative;
}
.pothe__pothe__search__dot {
  position: absolute;
  top: -8px;
  right: -8px;
  width: 10px;
  height: 10px;
  background-color: tomato;
  border-radius: 5px;
}

@media screen and (max-width: 1050px) {
  .pothe__pothe__navbar__logo__container img {
    width: 120px;
  }
  .pothe__pothe__navbar__menu__container {
    font-size: 17px;
  }
  .pothe__pothe__navbar__right {
    gap: 30px;
  }
  .pothe__pothe__navbar__right img {
    width: 22px;
  }
  .pothe__pothe__navbar__sign__in__btn {
    padding: 7px 25px;
  }
}
@media screen and (max-width: 900px) {
  .pothe__pothe__navbar__logo__container img {
    width: 120px;
  }
  .pothe__pothe__navbar__menu__container {
    font-size: 16px;
    gap: 15px;
  }
  .pothe__pothe__navbar__right {
    gap: 20px;
  }
  .pothe__pothe__navbar__right img {
    width: 20px;
  }
  .pothe__pothe__navbar__sign__in__btn {
    padding: 7px 20px;
    font-size: 15px;
  }
}

@media screen and (max-width: 750px) {
  .pothe__pothe__navbar__menu__container {
    display: none;
  }
}
